<div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
  <div class="border-r border-gray-200 pt-5 flex flex-col flex-grow bg-white overflow-y-auto">
    <div class="flex-shrink-0 px-4 flex items-center">
      <a href="#">
        <img class="h-8 w-auto" src="assets/logo_w_text.svg" alt="Next Day Lost">
      </a>
    </div>
    <div class="flex-grow mt-5 flex flex-col">
      <nav class="flex-1 px-2 pb-4 space-y-1">
        <app-sidebar-link [route]="'explore'">Explore</app-sidebar-link>
        <app-sidebar-link [route]="'polygons'">Polygons</app-sidebar-link>
      </nav>
    </div>
  </div>
</div>
